@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Fira+Code:wght@600&family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
body{
    background-color: rgb(184, 156, 173);
    /* background-image: url('https://retori8-proyecttodolist-z1j0bjz7x3x.ws-us89.gitpod.io/textura.jpg'); 
    background-size: cover; */
}
#container{
    margin: auto;
    margin-top: 10%;
    font-family: 'Fira Code';
    font-size: medium;
    background-color: rgb(150, 124, 11);
    border: none;
}
#title{
    margin-bottom: 3%;
    font-family: 'Tilt Prism', cursive;
}
#input{
    margin-bottom: 3%;
}
#buttonDelete{
    display: none;
}
#task:hover #buttonDelete{
    display:inline-flex
}
#clear{
    margin-bottom: 3%;
    margin-left: 3%;
    float: right;
}

