@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Fira+Code:wght@600&family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
body{
    background-color: rgb(184, 156, 173);
    /* background-image: url('https://retori8-proyecttodolist-z1j0bjz7x3x.ws-us89.gitpod.io/textura.jpg'); 
    background-size: cover; */
}
#container{
    margin: auto;
    margin-top: 10%;
    font-family: 'Fira Code';
    font-size: medium;
    background-color: rgb(150, 124, 11);
    border: none;
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 10px 10px 9px rgba(94,104,121,0.3);
}
#title{
    margin-bottom: 3%;
    font-family: 'Tilt Prism', cursive;
}
#input{
    margin-bottom: 3%;
}
#buttonDelete{
    display: none;
}
#task:hover #buttonDelete{
    display:inline-flex
}
#listcounter{
    background-color:rgb(49, 82, 100);
}
#buttondeleteall{
    margin-bottom: 3%;
    margin-left: 3%;
    float: right;
    background-color:white;
    border: none;
    color:rgb(150, 124, 11);
}   
#buttondeleteall:hover{
    transform: translateY(2px);
    color: rgb(250, 247, 249);
    background-color: rgb(49, 82, 100);
} 


